.button {
  background-color: transparent;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 13px;
  margin: 3px 2px;
  cursor: pointer;
  border-bottom: solid transparent;
}

.button:hover {
  border-bottom: solid var(--secondary-color);
}

.button2 {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  font-size: 13px;
  margin: 3px 2px;

  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button2:hover {
  transform: scale(1.03);
}
