.contact_me {
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center top;
  text-align: center;
  color: var(--primary-color);
  border-radius: 4px;
}

.contact_group {
  width: 30%;
}

.svg_contact {
  max-width: 40%;
  max-height: 40px;
  fill: var(--primary-color);
}

.svg_contact2 {
  max-width: 40%;
  max-height: 40px;
  stroke: var(--primary-color);
}
