@media screen and (min-with: 800px) {
  header {
    display: flex;
  }

  .header__title {
    flex: 2;
    order: 2;
  }

  .port {
    flex: 1;
    order: 1;
  }
}

header {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 77%,
    rgba(219, 219, 219, 1) 100%
  );
  color: rgba(255, 255, 255, 0.874);

  padding: 0px;
}

.header__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary-color);
  padding: 30px 20px 0px 20px;
}

figure {
  margin: 0px;
}

.port {
  width: 45vw;
  max-width: 50%;
  height: auto;
  border-radius: 0px;
  align-self: flex-end;
}
