@import "./html_body";
@import "./body.css";
@import "./header.css";
@import "./nav.css";
@import "./style.css";
@import "./buttons.css";
@import "./about_me.css";
@import "./contact.css";

:root {
  --primary-color: #575757;
  --secondary-color: #f39200;
  --backround-color: white;
}

h1 {
  font-size: 49px;
  margin: 0;
  color: var(--secondary-color);
}

h2 {
  font-size: 20px;
  font-weight: normal;
  color: var(--primary-color);
}

.container {
  max-width: 1000px;
  margin: auto;
}
