* {
  box-sizing: border-box;
}

section,
footer {
  padding: 16px;
}

.personal {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: rgb(41, 41, 41);
  color: white;
}

.line {
  border-bottom: solid 1px var(--primary-color);
}
